<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Buttons to home page, to start scrape, and to view saved -->
    <ul class="nav nav-pills">
      <li><button class="btn btn-default">Home</button></li>
      <li><button class="btn btn-default" id="scraper">Scrape Articles</button></li>
      <li><button class="btn btn-default">View Saved</button></li>
    </ul>
</nav>
    <div class="page-header">
    <h1>Mongo Scraper <small>Environmental News Network (ENN) Edition</small></h1>
    </div>

    </div>
      <ul>
      {{#each title}}
      {{/each}}
      </ul>
    <div>

   
  </div>
